$base-color: #FFFFFF;
$hover-nav-color: #2B6E58;
$secondary-color: #388F72;
$accent-color: #1E4D3D;
$input-color: #f0f0f0;
$green-color: #34b456;
$gray-color: #efefef;
$background-color: #fff;
$navbar-background-color: #45B08C;
$font-family: "DM Sans", serif;
$popup-primary-color: #495D6A;
$popup-secondary-color: #718C9E;
$error-color: #E84B4F;
$focus-popup-color: #717999;
