<div class="container overflow-hidden">
  <div class="statistics-container">
    <div class="">
      <app-annual-statistics
        (yearSelectedEvent)="yearOnSelect($event)"
      ></app-annual-statistics>
    </div>
  </div>
  <div class="">
    <div class="">
      <app-monthly-statistics
        [statistics]="monthlyStatistics"
      ></app-monthly-statistics>
    </div>
  </div>
  <div>
    <div class="">
      <app-daily-statistics
        (dateSelectedEvent)="dateOnSelect($event)"
      ></app-daily-statistics>
    </div>
    <div class="">
      <div class="container">
        <div class="info" *ngIf="boughtProducts.length === 0; else listNotEmptyBlock">
          <span class="title">You don't have any bought products </span>
        </div>
        <ng-template #listNotEmptyBlock>
          <h2 class="title">Products you have bought on that day</h2>
          <app-product-list [products]="boughtProducts"></app-product-list>
        </ng-template>
      </div>
    </div>
  </div>
</div>
