<div class="container">
  <section class="welcome-grid">
    <div class="welcome-grid-container">
      <h1 class="welcome-message-head">Lower sugar recipes</h1>
      <p class="welcome-message-body">As we go about our hectic, busy days,
        it can be very easy to resort to a sugary snack midway through the
        afternoon to keep your energy levels elevated. </p>
      <div class="welcome-message-images">
        <div class="welcome-message-images-container">
            <div class="u-image">
              <img src="//images01.nicepage.com/65/8d/658db1c75e62e3d1d939ffadc424a7ae.jpeg" alt="first image" style="width: 40vh; height: 40vh">
            </div>
            <div class="u-image">
              <img src="//images01.nicepage.com/b4/83/b483753f171dc2e517a554dd0130738d.jpeg" alt="second image" style="width: 40vh; height: 40vh">
            </div>
            <div class="u-image">
              <img src="//images01.nicepage.com/af/2c/af2c9ad73a57f6f7ce4931f1b5a524c7.jpeg" alt="third image" style="width: 40vh; height: 40vh">
            </div>
            <div class="u-image">
              <img src="//images01.nicepage.com/24/4b/244bee83c6fda1b06c3d12de3b047310.jpeg" alt="fourth image" style="width: 40vh; height: 40vh">
            </div>
            <div class="u-image">
              <img src="//images01.nicepage.com/18/6c/186c126c272ce78f6f5bad4499211642.jpeg" alt="fifth image" style="width: 40vh; height: 40vh">
            </div>
            <div class="u-image">
              <img src="//images01.nicepage.com/90/4f/904f9d00febed740503b97c3dea98669.jpeg" alt="sixth image" style="width: 40vh; height: 40vh">
            </div>
        </div>
      </div>
    </div>
    <button class="welcome-button btn btn-primary">
      <a
        class="nav-link"
        [routerLink]="['/recipe-generator']"
        routerLinkActive="active-route"
      >Let get started</a>
    </button>
  </section>
</div>
